// ==UserScript==
// @name        <%= config.name %>
// @description <%= config.description %>
// @license     <%= config.license %>
// @namespace   <%= config.userscript.namespace %>
// @include     <%= config.userscript.include %>
// @version     <%= config.version %>
// @grant       <%= config.userscript.grant %>
// ==/UserScript==
